/* @import url("./icons.css"); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 62.5%;
  --grey-1: #f1f1f1;
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --main-heading: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--main-background);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  main {
    border: 1px solid var(--card-background);
    position: relative;
    background-color: var(--card-background);
    border-radius: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 110rem;
    margin: 0 auto;
    overflow: hidden;
    .hero {
      .intro {
        padding: 7.7rem 7.7rem 0 7rem;
        h1 {
          font-family: "Inter", serif;
          font-weight: 700;
          font-size: 3rem;
          line-height: 2.8rem;
          letter-spacing: 0.1rem;
          color: var(--main-heading);
          margin-bottom: 4rem;
          max-width: 35rem;
          span {
            color: var(--accent);
          }
        }

        p {
          font-family: "Inter", serif;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.9rem;
          color: var(--main-paragraph);
          max-width: 35rem;
          margin-bottom: 5rem;
        }
      }
      .stats {
        display: flex;
        .stats-content {
          display: flex;
          justify-content: space-between;
          margin: 0;
          padding-left: 7.7rem;
          padding-bottom: 5.8rem;
          gap: 5rem;

          h2 {
            font-family: "Inter", serif;
            font-weight: 700;
            font-size: 2.3rem;
            line-height: 7.7rem;
            color: var(--main-heading);
            margin-bottom: -2rem;
          }
          p {
            font-family: "Inter", serif;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            text-transform: uppercase;
            color: var(--stat-headings);
            padding: 0;
            margin: 0;
          }
        }
      }
    }
    .hero-image {
      position: relative;
      order: 2;
      height: 100%;
      background-color: var(--accent);

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("./images/image-header-mobile.jpg");
        background-position: center;
        background-size: contain;
        mix-blend-mode: lighten;
        border-radius: 0 0.8rem 0.8rem 0;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    main {
      grid-template-columns: 1fr;
      max-width: 400px;
      margin: 2rem;

      .hero {
        order: 2;

        .intro {
          padding: 4rem 2rem;
          text-align: center;

          h1 {
            font-size: 2.8rem;
            line-height: 3.2rem;
            margin: 0 auto 2rem auto;
            text-align: center;
          }

          p {
            font-size: 1.5rem;
            line-height: 2.5rem;
            margin: 0 auto 3rem auto;
            text-align: center;
          }
        }

        .stats {
          padding: 0 2rem 4rem 2rem;

          .stats-content {
            flex-direction: column;
            padding: 0;
            gap: 2.5rem;
            text-align: center;
            align-items: center;
            width: 100%;

            h2 {
              font-size: 2.4rem;
              line-height: 3rem;
              margin-bottom: 0.5rem;
            }

            p {
              font-size: 1.2rem;
              line-height: 2rem;
            }
          }
        }
      }

      .hero-image {
        order: 1;
        aspect-ratio: 1.2/1;
        border-radius: 0.8rem 0.8rem 0 0;

        img {
          border-radius: 0.8rem 0.8rem 0 0;
        }
      }
    }
  }
}
